<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find and post remote jobs, contracts, and projects. Get email notifications when new jobs are posted.">
    <link rel="icon" href="http://www.noofficeneeded.com/images/favicon.ico">

    <title>No Office Needed | Find and post remote jobs, contracts, and projects.</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/narrow.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="container">
