<template name="footer">
    <footer class="footer">
      <div class="footer-links">
        <div>
          <h3>Quick links</h3>
          <ul>
            <li><a href="/front-end-jobs">Front End Jobs</a></li> -
            <li><a href="/back-end-jobs">Back End Jobs</a></li> -
            <li><a href="/fullstack-jobs">Full Stack Jobs</a></li> -
            <li><a href="/miscellaneous-jobs">Miscellaneous Jobs</a></li> -
            <li><a href="/design-jobs">Design Jobs</a></li> -
            <li><a href="/sales-marketing-jobs">Sales and Marketing Jobs</a></li> -
            <li><a href="/help-desk-support-jobs">Help Desk and Technical Support Jobs</a></li> -
            <li><a href="/system-admin-jobs">System Admin and DevOps Jobs</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-logo">
        <ul>
          <li>
            <div class="form-inline">
              <input type="input" class="form-control" placeholder="Enter Email" />
              <button class="btn btn-primary">Get Alerts!</button>
            </div>
          </li>
          <li>
            <a href="#" target="_blank"><img src="/square-facebook.png" alt="facebook"></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="/square-twitter.png" alt="instagram"></a>
          </li>
        </ul>
      </div>

      <p>NoOfficeNeeded &copy; 2015</p>
      <small>Sponsored by: <a href="http://www.snatchapro.com" target="_blank">Snatchapro</a></small>
    </footer>
</template>
