body {
  padding-top: 20px;
  padding-bottom: 20px;
}
a {
  color: #000;
}
textarea {
  resize: none;
}
h2, .h2 {
  color: #1664B5;
}
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.footer {
  padding-top: 19px;
  color: #777;
}
@media (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing {
  margin: 0px;
  padding: 20px 0px;
  border-bottom: solid 1px #eee;
}
.marketing p + h4 {
  margin-top: 28px;
}
.jumbotron, .alerts-container {
  box-shadow: inset 0px 4px 30px #ddd;
  -moz-box-shadow: inset 0px 4px 30px #ddd;
}
.alerts-container {
  background: #eee;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 25px 5px;
  margin: 55px 0px 0px 0px;
}
.sponsored {
  box-shadow: 0px 0px 6px #333;
  -moz-box-shadow: 0px 0px 6px #333;
  font-style: italic;
}
.blue-link {
  color: #1664B5;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background: #1664B5;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width:480px) {
  .jumbotron .btn {
    padding: 14px 9px;
    font-size: 18px;
  }
}
